<!DOCTYPE html>
<html>
    <head>
        <title><%= Cadastro%></title>
            <link rel='stylesheet' href='/stylesheets/style.
css' />
    </head>
<body>
    <h1><%= Cadastro %></h1>
        <form action="/new" method="POST">
            <p>Titulo:<input type="text" name="titulo"/></p>
            <p>Duracao:<input type="number" name="duracao" /></p>
            <p>Sinopse:<input type="number" name="sinopse" /></p>
            <p>Categoria:<input type="number" name="categoria" /></p>
            <input type="submit" value="Salvar" />
        </form>
</body